/*generelle indstillinger */

html {}

body {
    /* Vi sikrer os lige at skærmen kan fyldes helt ud! */
    max-width: 1920px;
    margin: 0 auto;
}

header {
    position: relative;
    margin-bottom: 3em;
}

header img {

    width: 100%;
    display: block;
}

footer {
    display: flex;
}

section {}

nav {
    position: absolute;
    top: 1em;
    padding-left: 5em;
}

nav a:link {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    color: white;
    text-decoration: none;
}

/* visited link */

nav a:visited {
    color: white;
}

/* mouse over link */

nav a:hover {
    color: #662702;
    font-size: 1.2rem;
}

/* selected link */

nav a:active {
    color: black;
}

a {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
}

a:link {
    color: #662702;
}

/* visited link */

a:visited {
    color: #662702;
}

/* mouse over link */

a:hover {
    color: #cf8952;
}

/* selected link */

a:active {
    color: #a8a159;
}

#splash img {
    width: 100%;
}

H1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

H2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

/*INDEX*/

.bodyindex {
    background-color: black;
    background-image: url(indexsplash-content.png);
    background-repeat: no-repeat;
}

.bodyindex img {
    opacity: .8;
    width: 100%;
    display: block;
}

.indexH1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    letter-spacing: 10px;
    padding-top: 7%;
    color: white;
    padding-left: 25%;
}

.indexP1 {
    font-family: 'Indie Flower', cursive;
    font-size: 1rem;
    padding-top: 3%;
    padding-left: 20%;
    padding-right: 40%;
    color: white;
}

.footerindex {
    background-color: black;
}

.footerIP {
    font-family: 'Roboto', sans-serif;
    font-size: .8rem;
    color: white;
}
.footerIH2 {
    color: white;
}
.footerIH2R {
    color: #662702;
}

.footcolumnL {
    padding-left: 10%;
    padding-bottom: 5%;
    padding-top: 5%;
}

.footcolumnR {
    padding-left: 20%;
    padding-bottom: 5%;
    padding-top: 5%;
}

@media screen and (max-width: 1000px) {

    .indexH1 {
        text-align: center;
        font-size: 1rem;
        letter-spacing: 10px;
        padding-top: 7%;
        padding-left: 0;
        padding-left: 10%;
        padding-right: 20%;
    }

    .indexP1 {
        font-size: 1rem;
        padding-top: 4%;
        padding-left: 15%;
        padding-right: 25%;
        text-align: center;
    }

    .bodyindex img {

        opacity: .9;
    }
}

@media screen and (max-width: 800px) {

    .indexH1 {
        text-align: center;
        font-size: 1rem;
        letter-spacing: 10px;
        padding-top: 7%;
        padding-left: 0;
        padding-left: 10%;
        padding-right: 20%;
    }

    .indexP1 {
        font-size: 1rem;
        padding-top: 4%;
        padding-left: 15%;
        padding-right: 25%;
        text-align: center;
    }

    .bodyindex img {

        opacity: .9;
    }
}

@media screen and (max-width: 700px) {

    .indexH1 {
        text-align: center;
        font-size: 1rem;
        letter-spacing: 10px;
        padding-top: 7%;
        padding-left: 0;
        padding-left: 10%;
        padding-right: 10%;
    }

    .indexP1 {
        font-size: 1rem;
        padding-top: 4%;
        padding-left: 15%;
        padding-right: 15%;
        text-align: center;
    }

    .bodyindex img {

        opacity: .9;
    }

}

@media screen and (max-width: 600px) {

    .indexH1 {
        text-align: center;
        font-size: 1rem;
        letter-spacing: 10px;
        padding-top: 7%;
        padding-left: 0;
        padding-left: 5%;
        padding-right: 5%;
    }

    .indexP1 {
        font-size: 1rem;
        padding-top: 4%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }
}

@media screen and (max-width: 600px) {

    .footcolumnL {
        padding-left: 2%;
        padding-bottom: 3%;
        padding-top: 1%;
    }

    .footcolumnR {
        padding-left: 12%;
        padding-bottom: 3%;
        padding-top: 1%;
    }

    .indexH1 {
        text-align: center;
        font-size: 1rem;
        letter-spacing: 10px;
        padding-top: 4%;
        padding-left: 0;
        padding-left: 5%;
        padding-right: 5%;
    }

    .indexP1 {
        font-size: 1rem;
        padding-top: 4%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }

